ALTER USER 'root'@'localhost' IDENTIFIED BY '${MYSQL_PASSWORD_ROOT}';
CREATE DATABASE IF NOT EXISTS wordpress;
CREATE USER IF NOT EXISTS '${MYSQL_USERNAME}'@'%' IDENTIFIED BY '${MYSQL_PASSWORD}';
GRANT ALL PRIVILEGES ON wordpress.* TO '${MYSQL_USERNAME}'@'%' WITH GRANT OPTION;
FLUSH PRIVILEGES;
